# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
.env/
.venv/
env/
venv/
ENV/

# Django
*.log
media/

# Environment variables & secrets
.env
.env.*
!.env.example

# Testing & coverage
.pytest_cache/
.coverage
htmlcov/

# IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db
